<div class="row">
	<div class="col-lg-6">
		<form ng-submit="vm.saveOnSubmit()" method="post" autocomplete="false" enctype="application/json">
			<div class="form-group">
                <input class="form-control" placeholder="E-mail" name="email" type="text" ng-model="vm.f.email" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="First Name" name="firstName" type="text" ng-model="vm.f.firstName">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Last Name" name="lastName" type="text" ng-model="vm.f.lastName">
            </div>
            <div class="form-group">
                <input type="file" id="file1" name="file" multiple ng-files="vm.getTheFiles($files)" />
            </div>
            <div ng-if="vm.mode=='add'">
                <div class="form-group">
                    <input class="form-control" placeholder="Password" name="password" type="password" ng-model="vm.f.password">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Confirm Password" name="password" type="password" ng-model="vm.f.confirmPassword">
                </div>
            </div>
            <input type="hidden" ng-model="vm.f.id">
            <button type="submit" class="btn btn-success">Save</button>
		</form>
	</div>
</div>